@media screen and (max-width: 480px) {
  .wrapper {
    padding: 6.25vw 2.0833vw;
    box-shadow: none;
    margin-top: 0;
    font-size: 3.3333vw;

    .title {
      font-size: 6.25vw;
      font-weight: 700;
      margin-bottom: 4.1667vw;
      text-align: center;
    }
    .todo-form {
      margin-bottom: 6.25vw;
      input,
      button {
        height: 7.2917vw;
      }
      input {
        width: 85%;
        text-indent: 1.0417vw;
      }
      button {
        width: 15%;
      }
    }
    .todo-list {
      li {
        display: flex;
        border-bottom: 0.2083vw solid #dcdcdc;
        padding: 1.0417vw;
        justify-content: space-between;
        align-items: center;
        input {
          accent-color: black;
          width: 4.1667vw;
          height: 4.1667vw;
        }
        p {
        }
        button {
          padding: 1.0417vw;
        }
      }
    }
  }
}
